<div class='container'>


<div class='col-md-6 col-md-offset-3'>

<h1>ジャンル一覧・追加</h1>

<%= form_for :type, url: admins_types_path do |f| %>

<div class="field row">

    <%= f.label 'ジャンル' %>
    <%= f.text_field :name, class: "col-xs-12 type_name" %>
    <div class="radio-inline">
    <%= f.radio_button :status, :有効, checked: "checked" %>
    <%= f.label :有効, class: "type_status_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :status, :無効 %>
    <%= f.label :無効, class: "type_status__label" %>
  </div>
  </div>
  <% end %>

      <table>
        <tr>
          <th>ジャンル</th>
          <th>状態</th>
        </tr>

        <% @types.each do |type| %>
          <tr>
            <td><%= type.name %></td>
            <td><%= type.status %></td>
            <td><%= link_to '編集する', edit_admins_type_path(type.id) %></td>
            <td><%= link_to '削除',  admins_type_path(type.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>

          </tr>
        <% end %>
</table>
</div>
</div>