


<% if post.favorited_by?(current_member) %>
 <td>
    <%= link_to post_favorites_path(post), method: :delete,remote: true do %>
     <i class="fa fa-heart" id="<%= post.id %>"></i>
     <%= post.favorites.count %>
    <% end %>
  </td>

<% else %>
  <td>
    <%= link_to post_favorites_path(post), method: :post,remote: true do %>
     <i class="fa fa-heart-o" id="<%= post.id %>"></i>
    <%= post.favorites.count %>
    <% end %>
  </td>
<% end %>

