<header>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: "logo",style:"width: 150px;" %>
        <% end %>
      </div>
      <div class="col-md-7 header-nav">
        <% if admin_signed_in? %>
            <ul class="nav">
            <li class="special_icon"><%= link_to "ユーザー一覧", admins_users_path, class: 'glyphicon glyphicon-list-alt' %></li>
            <li class="special_icon"><%= link_to "投稿一覧 ", admins_posts_path, class: 'glyphicon glyphicon-user' %></li>
            <li class="special_icon"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>
            </ul>
        <% elsif login? %>
            <ul class="nav">
            <li><%= link_to user_path(current_user)do %>
              <%= image_tag 'mypage.png',style:"width: 68px;" %>
            <% end %>
            </li>
            <li class="notification"><%= link_to notifications_path do %>
              <%= image_tag 'notice.png',style:"width: 68px;" %>
              <% end %>
              <% if unchecked_notifications.any? %>
                <i class="fa fa-circle notification-circle"></i>
              <% end %>
            </li>
            <li><%= link_to new_search_path do %>
            <%= image_tag 'serch.png',style:"width: 68px;" %>
            <% end %>
            </li>
            <li><%= link_to users_path do %>
            <%= image_tag 'users.png',style:"width: 68px;" %>
            <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</header>