<h1>会員一覧</h1>
<table class="table">
    <thead>
        <tr>
            <th>会員ID</th>
            <th>ユーザーネーム</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
	</thead>
	<tbody>
		<% @members.each do |member| %>
			<tr>
                <td><%=member.id%></td>
                <td>
                    <%= link_to admins_member_path(member.id) do %>
                        <%=member.name%>
                    <%end%>
                </td>
                <td><%=member.email%></td>
                <td><%=member.status%></td>
			</tr>
		<%end%>
	</tbody>
</table>
