<h1><%=@member.name%>さんの会員詳細</h1>
<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <th>顧客ID</th>
            <td><%=@member.id%> <%=@member.status%></td>
        </tr>
        <tr>
            <th>ユーザーネーム</th>
            <td><%=@member.name%></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <th>誕生日</th>
            <td><%#=@member.birthday%></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><%=@member.email%></td>
        </tr>
    </tbody>
</table>
<%= link_to "編集する", edit_admins_member_path(@member.id) %>


