<h1>登録情報編集</h1>
<%#= render "layouts/error_messages", member: @member %>
<%= form_for(@member) do |f| %>
  <div class="field">
    <%= f.label :ユーザーネーム%><br />
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_field :introduction %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email %>
  </div>

  <div class="form">
    <%= f.submit "編集内容を保存する" %>
  </div>
<% end %>
<%= link_to "退会する", "/members/status" %>