<h1>マイページ</h1>
<h2>登録情報</h2>
<%= link_to '編集する', edit_member_path(@member.id) %>
<%= link_to "パスワードを変更する", edit_member_registration_path %>
<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th>ユーザーネーム</th>
            <td><%= @member.name %></td>
        </tr>

        <tr>
            <th>メールアドレス</th>
            <td><%= @member.email %>
        </tr>
        <th>自己紹介</th>
            <td><%= @member.introduction %>
             <td><span id='follow_button'><%= render 'relationships/follow_button', member: @member %></span></td>
        </tr>
        <tr>
    </tbody>
</table>


<h1>投稿一覧</h1>
<%#= link_to "一覧を見る", orders_path %>
